In [1]:
import pandas as pd
import random
from src.deflator import deflate

In [2]:
yearly_df = pd.DataFrame(
    {'date':pd.date_range(start='2000', end='2018', freq='Y')\
        .strftime("%Y")\
            .astype('int'),
     'value':[random.random() for i in range(18)]}
)
yearly_df.head()

   date     value
0  2000  0.757218
1  2001  0.865105
2  2002  0.564518
3  2003  0.608508
4  2004  0.379848

In [4]:
deflate(data_frame=yearly_df,
        value_column='value',
        date_column='date',
        deflate_year=2005
        ).head(10)

   date     value  deflated_value
0  2000  0.757218        0.721051
1  2001  0.865105        0.641405
2  2002  0.564518        0.256313
3  2003  0.608508        0.372231
4  2004  0.379848        0.284366
5  2005  0.813799        0.813799
6  2006  0.053659        0.097175
7  2007  0.736419        0.939878
8  2008  0.737079        0.710419
9  2009  0.850975        1.122862